
body{
   background-color: hsl(0, 0%, 94%)!important;
}
.logoimg{
    margin-left:10%;
}
.navlist{
    margin-left: 30px;
}
.link{
    cursor: pointer;
    
}
.navlist link:hover{
    border-bottom: 20px black !important;
}
.mybut1{
    margin:10px;
    margin-top: 20px;
    border-radius: 20px !important;
    margin-right: 10%;
    font-size: 1rem !important;
   margin-left: auto;
}
#intro{
  
    
}
.bgimg1{
  
    position:absolute;
   height:100%;
       width:100%;
   
    
}
.bgimg2{
    position:absolute;
    
    left:20%;
    height:90%;
    
}
.row1{
    height:100%;

}
.mycol2{
    height:100%;
    padding-left: 0 !important;
   
}
.mycol1{
    padding:10%;
    padding-left: 10% !important;
   
   
}
#middle{
    padding: 10%;
    padding-top:0;
   margin-top:10%;
}
.features-img{
    margin:30px;
}
.features-h3{
    margin:10px;
    margin-left:0;
    margin-bottom:20px;
}
#articles{
padding:10%;
padding-top:0;

}
.article-img{
    height:200px;
    width:inherit;
    margin:30px;
    margin-left:0;
}
.article-h6{
    padding-left: 20px;
    
}
.article-p{
    margin-top:30px;
    padding-left: 20px;
}
#footer{
   background-color:  hsl(233, 26%, 24%);
  padding: 10%;
   padding-top: 5%;
   padding-bottom: 5%;
    width:100%;
}
.footer-im1{
    display:block;
    margin-bottom: 15%;
    background-color: white !important;
    margin-top:15px;
}
.footer-im2{
    margin-right:15px;
}
    
.mybut2{
  
    border-radius: 60px !important;
    padding-left:40px !important;
    padding-right:40px !important;
    font-size: 1rem !important;
   margin-top: 15px;
    position: absolute;
    right:5px;
   
    
}
.footer-p{
    position: absolute;
    right:5px;
    bottom:0;
    color: hsl(136, 65%, 51%);
  
}
.mycol3{
    padding-bottom: 0 !important;
}




@media  (max-width:1200px){
.toggle-but{
    margin-left: auto;
}
.row1{
    height:40%;
}
.mycol1{
    all: initial;
    padding: 0 !important;

    margin-bottom: 0% !important;
    text-align: center;
   
    margin-top:50% !important;
   
}
.mycol2{
    height:0;
  margin-top: 0% !important;
 
  
  
}
.bgimg1{
    all: initial;
    position: absolute;
    left:20%;
    width:50%;
    
}
.bgimg2{
    all: initial;
    position: absolute;
   width: 30%;
   left:30%;
  
  
   
}
#middle{
    margin-top:10% !important;
    text-align: center;
}
#articles{
    text-align: center;
}
.article-img{
    all:initial;
    width:50%;
    margin:5%;
}

#footer{
        text-align: center;
    }
 
.mybut2{
        all: initial;
        border-radius: 60px !important;
      
        padding-left:30px !important;
        padding-right:30px !important;
        margin-top:20px;
        margin-bottom: 20px;
        font-size: 1rem !important;
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        
      
} 


.footer-p{
        all:initial;
        display: block;
        color: hsl(136, 65%, 51%);
        text-align: center;
}      
.footer-im1{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10%;
    }
.footer-im2{
        all: initial;
        margin-bottom: 10%;
        margin-right: 10px;

    }
.navlist{
        margin-left: 0;
    }
}
